NoMethodError at /orders
========================

> undefined method `each' for nil:NilClass

app/views/orders/index.html.erb, line 10
----------------------------------------

``` ruby
    5       </div>
    6     </div>
    7     <% Order::STATUSES.each do |status| %>
    8     <div id="<%= status %>">
    9       <h2><%= status.capitalize %> Orders</h2>
>  10         <% @orders[status].each do |order| %>
   11           <!-- <div class="row" data-order-id="<%#= order.id %>"> -->
   12             <div class="col-sm-12" data-order-id="<%= order.id %>">
   13               <h2>Order <%= order.id %></h2>
   14               <h5>Client: <%= order.user.name %></h5>
   15               <h5>Order Items</h5>
```

App backtrace
-------------

 - app/views/orders/index.html.erb:10:in `block in _app_views_orders_index_html_erb__2163757963026088024_70301490091060'
 - app/views/orders/index.html.erb:7:in `each'
 - app/views/orders/index.html.erb:7:in `_app_views_orders_index_html_erb__2163757963026088024_70301490091060'
 - test/integration/display_orders_test.rb:29:in `test_it_updates_order_status'

Full backtrace
--------------

 - app/views/orders/index.html.erb:10:in `block in _app_views_orders_index_html_erb__2163757963026088024_70301490091060'
 - app/views/orders/index.html.erb:7:in `each'
 - app/views/orders/index.html.erb:7:in `_app_views_orders_index_html_erb__2163757963026088024_70301490091060'
 - actionview (4.1.4) lib/action_view/template.rb:145:in `block in render'
 - activesupport (4.1.4) lib/active_support/notifications.rb:159:in `block in instrument'
 - activesupport (4.1.4) lib/active_support/notifications/instrumenter.rb:20:in `instrument'
 - activesupport (4.1.4) lib/active_support/notifications.rb:159:in `instrument'
 - actionview (4.1.4) lib/action_view/template.rb:339:in `instrument'
 - actionview (4.1.4) lib/action_view/template.rb:143:in `render'
 - actionview (4.1.4) lib/action_view/renderer/template_renderer.rb:55:in `block (2 levels) in render_template'
 - actionview (4.1.4) lib/action_view/renderer/abstract_renderer.rb:38:in `block in instrument'
 - activesupport (4.1.4) lib/active_support/notifications.rb:159:in `block in instrument'
 - activesupport (4.1.4) lib/active_support/notifications/instrumenter.rb:20:in `instrument'
 - activesupport (4.1.4) lib/active_support/notifications.rb:159:in `instrument'
 - actionview (4.1.4) lib/action_view/renderer/abstract_renderer.rb:38:in `instrument'
 - actionview (4.1.4) lib/action_view/renderer/template_renderer.rb:54:in `block in render_template'
 - actionview (4.1.4) lib/action_view/renderer/template_renderer.rb:62:in `render_with_layout'
 - actionview (4.1.4) lib/action_view/renderer/template_renderer.rb:53:in `render_template'
 - actionview (4.1.4) lib/action_view/renderer/template_renderer.rb:17:in `render'
 - actionview (4.1.4) lib/action_view/renderer/renderer.rb:42:in `render_template'
 - actionview (4.1.4) lib/action_view/renderer/renderer.rb:23:in `render'
 - actionview (4.1.4) lib/action_view/rendering.rb:99:in `_render_template'
 - actionpack (4.1.4) lib/action_controller/metal/streaming.rb:217:in `_render_template'
 - actionview (4.1.4) lib/action_view/rendering.rb:82:in `render_to_body'
 - actionpack (4.1.4) lib/action_controller/metal/rendering.rb:32:in `render_to_body'
 - actionpack (4.1.4) lib/action_controller/metal/renderers.rb:32:in `render_to_body'
 - actionpack (4.1.4) lib/abstract_controller/rendering.rb:25:in `render'
 - actionpack (4.1.4) lib/action_controller/metal/rendering.rb:16:in `render'
 - actionpack (4.1.4) lib/action_controller/metal/instrumentation.rb:41:in `block (2 levels) in render'
 - activesupport (4.1.4) lib/active_support/core_ext/benchmark.rb:12:in `block in ms'
 - /Users/kavita/.rvm/rubies/ruby-2.1.2/lib/ruby/2.1.0/benchmark.rb:294:in `realtime'
 - activesupport (4.1.4) lib/active_support/core_ext/benchmark.rb:12:in `ms'
 - actionpack (4.1.4) lib/action_controller/metal/instrumentation.rb:41:in `block in render'
 - actionpack (4.1.4) lib/action_controller/metal/instrumentation.rb:84:in `cleanup_view_runtime'
 - activerecord (4.1.4) lib/active_record/railties/controller_runtime.rb:25:in `cleanup_view_runtime'
 - actionpack (4.1.4) lib/action_controller/metal/instrumentation.rb:40:in `render'
 - actionpack (4.1.4) lib/action_controller/metal/implicit_render.rb:10:in `default_render'
 - actionpack (4.1.4) lib/action_controller/metal/implicit_render.rb:5:in `send_action'
 - actionpack (4.1.4) lib/abstract_controller/base.rb:189:in `process_action'
 - actionpack (4.1.4) lib/action_controller/metal/rendering.rb:10:in `process_action'
 - actionpack (4.1.4) lib/abstract_controller/callbacks.rb:20:in `block in process_action'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:113:in `call'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:113:in `call'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:229:in `block in halting'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:229:in `call'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:229:in `block in halting'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:166:in `call'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:166:in `block in halting'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:166:in `call'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:166:in `block in halting'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:166:in `call'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:166:in `block in halting'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:86:in `call'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:86:in `run_callbacks'
 - actionpack (4.1.4) lib/abstract_controller/callbacks.rb:19:in `process_action'
 - actionpack (4.1.4) lib/action_controller/metal/rescue.rb:29:in `process_action'
 - actionpack (4.1.4) lib/action_controller/metal/instrumentation.rb:31:in `block in process_action'
 - activesupport (4.1.4) lib/active_support/notifications.rb:159:in `block in instrument'
 - activesupport (4.1.4) lib/active_support/notifications/instrumenter.rb:20:in `instrument'
 - activesupport (4.1.4) lib/active_support/notifications.rb:159:in `instrument'
 - actionpack (4.1.4) lib/action_controller/metal/instrumentation.rb:30:in `process_action'
 - actionpack (4.1.4) lib/action_controller/metal/params_wrapper.rb:250:in `process_action'
 - activerecord (4.1.4) lib/active_record/railties/controller_runtime.rb:18:in `process_action'
 - actionpack (4.1.4) lib/abstract_controller/base.rb:136:in `process'
 - actionview (4.1.4) lib/action_view/rendering.rb:30:in `process'
 - actionpack (4.1.4) lib/action_controller/metal.rb:196:in `dispatch'
 - actionpack (4.1.4) lib/action_controller/metal/rack_delegation.rb:13:in `dispatch'
 - actionpack (4.1.4) lib/action_controller/metal.rb:232:in `block in action'
 - actionpack (4.1.4) lib/action_dispatch/routing/route_set.rb:82:in `call'
 - actionpack (4.1.4) lib/action_dispatch/routing/route_set.rb:82:in `dispatch'
 - actionpack (4.1.4) lib/action_dispatch/routing/route_set.rb:50:in `call'
 - actionpack (4.1.4) lib/action_dispatch/journey/router.rb:71:in `block in call'
 - actionpack (4.1.4) lib/action_dispatch/journey/router.rb:59:in `each'
 - actionpack (4.1.4) lib/action_dispatch/journey/router.rb:59:in `call'
 - actionpack (4.1.4) lib/action_dispatch/routing/route_set.rb:678:in `call'
 - rack (1.5.2) lib/rack/etag.rb:23:in `call'
 - rack (1.5.2) lib/rack/conditionalget.rb:25:in `call'
 - rack (1.5.2) lib/rack/head.rb:11:in `call'
 - actionpack (4.1.4) lib/action_dispatch/middleware/params_parser.rb:27:in `call'
 - actionpack (4.1.4) lib/action_dispatch/middleware/flash.rb:254:in `call'
 - rack (1.5.2) lib/rack/session/abstract/id.rb:225:in `context'
 - rack (1.5.2) lib/rack/session/abstract/id.rb:220:in `call'
 - actionpack (4.1.4) lib/action_dispatch/middleware/cookies.rb:560:in `call'
 - activerecord (4.1.4) lib/active_record/query_cache.rb:36:in `call'
 - activerecord (4.1.4) lib/active_record/connection_adapters/abstract/connection_pool.rb:621:in `call'
 - actionpack (4.1.4) lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
 - activesupport (4.1.4) lib/active_support/callbacks.rb:82:in `run_callbacks'
 - actionpack (4.1.4) lib/action_dispatch/middleware/callbacks.rb:27:in `call'
 - actionpack (4.1.4) lib/action_dispatch/middleware/remote_ip.rb:76:in `call'
 - better_errors (2.0.0) lib/better_errors/middleware.rb:84:in `protected_app_call'
 - better_errors (2.0.0) lib/better_errors/middleware.rb:79:in `better_errors_call'
 - better_errors (2.0.0) lib/better_errors/middleware.rb:57:in `call'
 - actionpack (4.1.4) lib/action_dispatch/middleware/debug_exceptions.rb:17:in `call'
 - actionpack (4.1.4) lib/action_dispatch/middleware/show_exceptions.rb:30:in `call'
 - railties (4.1.4) lib/rails/rack/logger.rb:38:in `call_app'
 - railties (4.1.4) lib/rails/rack/logger.rb:20:in `block in call'
 - activesupport (4.1.4) lib/active_support/tagged_logging.rb:68:in `block in tagged'
 - activesupport (4.1.4) lib/active_support/tagged_logging.rb:26:in `tagged'
 - activesupport (4.1.4) lib/active_support/tagged_logging.rb:68:in `tagged'
 - railties (4.1.4) lib/rails/rack/logger.rb:20:in `call'
 - actionpack (4.1.4) lib/action_dispatch/middleware/request_id.rb:21:in `call'
 - rack (1.5.2) lib/rack/methodoverride.rb:21:in `call'
 - rack (1.5.2) lib/rack/runtime.rb:17:in `call'
 - activesupport (4.1.4) lib/active_support/cache/strategy/local_cache_middleware.rb:26:in `call'
 - actionpack (4.1.4) lib/action_dispatch/middleware/static.rb:64:in `call'
 - rack (1.5.2) lib/rack/sendfile.rb:112:in `call'
 - railties (4.1.4) lib/rails/engine.rb:514:in `call'
 - railties (4.1.4) lib/rails/application.rb:144:in `call'
 - railties (4.1.4) lib/rails/railtie.rb:194:in `public_send'
 - railties (4.1.4) lib/rails/railtie.rb:194:in `method_missing'
 - rack-test (0.6.2) lib/rack/mock_session.rb:30:in `request'
 - rack-test (0.6.2) lib/rack/test.rb:230:in `process_request'
 - rack-test (0.6.2) lib/rack/test.rb:57:in `get'
 - /Users/kavita/.rvm/rubies/ruby-2.1.2/lib/ruby/2.1.0/forwardable.rb:183:in `get'
 - capybara (2.4.4) lib/capybara/rack_test/browser.rb:60:in `process'
 - capybara (2.4.4) lib/capybara/rack_test/browser.rb:35:in `process_and_follow_redirects'
 - capybara (2.4.4) lib/capybara/rack_test/browser.rb:21:in `visit'
 - capybara (2.4.4) lib/capybara/rack_test/driver.rb:42:in `visit'
 - capybara (2.4.4) lib/capybara/session.rb:227:in `visit'
 - capybara (2.4.4) lib/capybara/dsl.rb:51:in `block (2 levels) in <module:DSL>'
 - test/integration/display_orders_test.rb:29:in `test_it_updates_order_status'
 - minitest (5.4.3) lib/minitest/test.rb:108:in `block (3 levels) in run'
 - minitest (5.4.3) lib/minitest/test.rb:206:in `capture_exceptions'
 - minitest (5.4.3) lib/minitest/test.rb:105:in `block (2 levels) in run'
 - minitest (5.4.3) lib/minitest/test.rb:258:in `time_it'
 - minitest (5.4.3) lib/minitest/test.rb:104:in `block in run'
 - minitest (5.4.3) lib/minitest.rb:320:in `on_signal'
 - minitest (5.4.3) lib/minitest/test.rb:278:in `with_info_handler'
 - minitest (5.4.3) lib/minitest/test.rb:103:in `run'
 - minitest (5.4.3) lib/minitest.rb:767:in `run_one_method'
 - minitest (5.4.3) lib/minitest.rb:294:in `run_one_method'
 - minitest (5.4.3) lib/minitest.rb:288:in `block (2 levels) in run'
 - minitest (5.4.3) lib/minitest.rb:287:in `each'
 - minitest (5.4.3) lib/minitest.rb:287:in `block in run'
 - minitest (5.4.3) lib/minitest.rb:320:in `on_signal'
 - minitest (5.4.3) lib/minitest.rb:307:in `with_info_handler'
 - minitest (5.4.3) lib/minitest.rb:286:in `run'
 - minitest (5.4.3) lib/minitest.rb:150:in `block in __run'
 - minitest (5.4.3) lib/minitest.rb:150:in `map'
 - minitest (5.4.3) lib/minitest.rb:150:in `__run'
 - minitest (5.4.3) lib/minitest.rb:127:in `run'
 - minitest (5.4.3) lib/minitest.rb:56:in `block in autorun'

